@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
		letter-spacing: 0.2px;
	background-image: url('images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

/*wrapper*/
#wrapper {
	width: 1200px;
	height: auto;
	display: flex;
		justify-content: space-between;
	margin: 30px auto;
	padding: 30px 30px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 10px;
}
	/*leftColumn*/
	.leftColumn {
		width: 810px;
		height: auto;
		box-sizing: border-box;
	}

		/*calcForm*/
		.leftColumn form {
			width: 100%;
			height: auto;
		}

			/*lebel*/
			.leftColumn form label {
				width: 100%;
				height: auto;
				display: block;
				font-size: 14px;
				font-weight: 600;
				line-height: 100%;
				color: #333;
				margin: 0 0 30px 0;
			}
				.leftColumn form label span.requiredField {
					color: #e74c3c;
					font-weight: bold;
				}

			/*levelCake*/
			.leftColumn form .levelCake {
				width: 100%;
				height: auto;
				display: flex;
					justify-content: space-between;
				margin: 0 0 30px 0;
				padding: 0 0 30px 0;
				border-bottom: 1px solid #f9f7f7;
			}
				.leftColumn form .levelCake .level {
					width: 20%;
					height: auto;
				}
					.leftColumn form .levelCake .level img {
						display: block;
						vertical-align: bottom;
						max-width: 100%;
						border-radius: 3px;
						margin: 0 auto 10px auto;
					}
					.leftColumn form .levelCake .level input[type="radio"] {
						display: block;
						width: 16px;
						height: 16px;
						margin: 0 auto;
						outline: 0;
					}

			/*fillingCake*/
			.leftColumn form .fillingCake {
				width: 100%;
				height: auto;
				display: flex;
					justify-content: space-between;
				margin: 0 0 30px 0;
				padding: 0 0 30px 0;
				border-bottom: 1px solid #f9f7f7;
			}
				.leftColumn form .fillingCake .infoFilling {
					width: calc(100% - 380px);
					height: auto;
				}
					.leftColumn form .fillingCake .infoFilling select {
						width: 100%;
						height: 36px;
						border-radius: 3px;
						border: 1px solid #ccc;
						outline: 0;
						font-size: 14px;
						line-height: 100%;
						color: #333;
						padding: 0 10px;
						box-sizing: border-box;
						margin: 0 0 20px 0;
					}
					.leftColumn form .fillingCake .infoFilling p {
						font-size: 14px;
						line-height: 200%;
						color: #333;
					}
				.leftColumn form .fillingCake .imageFilling {
					width: 350px;
					height: auto;
				}
					.leftColumn form .fillingCake .imageFilling img {
						display: block;
						vertical-align: bottom;
						max-width: 100%;
						border-radius: 3px;
					}

			/*addIngredientsCake*/
			.leftColumn form .addIngredientsCake {
				width: 100%;
				height: auto;
				display: flex;
					justify-content: space-between;
				margin: 0 0 30px 0;
				padding: 0 0 30px 0;
				border-bottom: 1px solid #f9f7f7;				
			}
				.leftColumn form .addIngredientsCake .ingredientsColumn {
					width: 20%;
					height: auto;
				}
					.leftColumn form .addIngredientsCake .ingredientsColumn p {
						font-size: 14px;
						line-height: 100%;
						color: #333;
						margin: 0 0 20px 0;
					}
						.leftColumn form .addIngredientsCake .ingredientsColumn p:last-child {
							margin: 0 0 0 0;
						}
					.leftColumn form .addIngredientsCake .ingredientsColumn input[type="checkbox"] {
						display: inline-block;
						width: 16px;
						height: 16px;
						outline: 0;
						margin: 0 5px 0 0;
						position: relative;
						top: 3px;					
					}

			/*designCake*/
			.leftColumn form .designCake {
				width: 100%;
				height: auto;
				display: flex;
					justify-content: space-between;
				margin: 0 0 30px 0;
				padding: 0 0 30px 0;
				border-bottom: 1px solid #f9f7f7;				
			}
				.leftColumn form .designCake .design {
					width: calc(100% - 380px);
					height: auto;
				}
					.leftColumn form .designCake .design select {
						width: 100%;
						height: 36px;
						border-radius: 3px;
						border: 1px solid #eee;
						outline: 0;
						font-size: 14px;
						line-height: 100%;
						color: #333;
						padding: 0 10px;
						box-sizing: border-box;
						margin: 0 0 20px 0;
					}
						.leftColumn form .designCake .design select:last-child {
							margin: 0 0 0 0;
						}
				.leftColumn form .designCake .commentDesign {
					width: 350px;
					height: auto;
				}
					.leftColumn form .designCake .commentDesign textarea {
						width: 100%;
						height: 92px;
						border-radius: 3px;
						border: 1px solid #eee;
						outline: 0;
						font-family: 'Open Sans', sans-serif;
						font-size: 14px;
						line-height: 150%;
						color: #333;
						padding: 10px 10px;
						margin: 0 0 10px 0;
						box-sizing: border-box;
						resize: none;
					}
					.leftColumn form .designCake .commentDesign p {
						font-size: 14px;
						line-height: 100%;
						color: #333;
						text-align: right;
					}
						.leftColumn form .designCake .commentDesign p a {
							text-decoration: underline;
							color: #333;
						}
							.leftColumn form .designCake .commentDesign p a:hover {
								text-decoration: none;
							}
						.leftColumn form .designCake .commentDesign p img {
							position: relative;
							top: 3px;
							margin: 0 3px 0 10px;
							display: inline-block;
							vertical-align: bottom;
							max-width: 100%;
						}

			/*discountCake*/
			.leftColumn form .discountCake {
				width: 100%;
				height: auto;
			}
				.leftColumn form .discountCake p {
					font-size: 14px;
					line-height: 100%;
					color: #333;
					margin: 0 0 20px 0;
				}
				.leftColumn form .discountCake input[type="text"] {
					width: 100%;
					height: 36px;
					border-radius: 3px;
					border: 1px solid #ccc;
					outline: 0;
					font-size: 14px;
					line-height: 100%;
					color: #333;
					padding: 0 10px;
					box-sizing: border-box;
				}

	/*rightColumn*/
	.rightColumn {
		width: 300px;
		height: auto;
		border-left: 1px solid #f9f7f7;
		padding: 0 0 0 30px;
		box-sizing: border-box;
	}
		/*resultCake*/
		.rightColumn .resultCake {
			width: 100%;
			height: auto;
			padding: 15px 15px;
			border-radius: 5px;
			border: 1px dashed #eee;
			box-sizing: border-box;
			margin: 0 0 30px 0;
		}
			.rightColumn .resultCake p {
				font-size: 14px;
				line-height: 100%;
				color: #333;
				margin: 0 0 15px 0;
			}
					.rightColumn .resultCake p:last-child {
						margin: 0 0 0 0;
					}
				.rightColumn .resultCake p span.costCake {
					color: #e74c3c;
					font-weight: 600;
				}

		/*formBuyCake*/
		.rightColumn form {
			width: 100%;
			height: auto;
		}
			.rightColumn form input[type="text"] {
				width: 100%;
				height: 36px;
				font-size: 14px;
				line-height: 100%;
				color: #333;
				border-radius: 3px;
				border: 1px solid #eee;
				padding: 0 10px;
				box-sizing: border-box;
				outline: 0;
				margin: 0 0 20px 0;
			}
			.rightColumn form input[type="submit"] {
				width: 100%;
				height: 36px;
				outline: 0;
				border: 0;
				font-size: 14px;
				line-height: 100%;
				color: #fff;
				background-color: #2ecc71;
				box-shadow: 0 2px 0 #27ae60;
				border-radius: 3px;
				cursor: pointer;
				box-sizing: border-box;
				transition: 0.1s;
			}
				.rightColumn form input[type="submit"]:hover {
					background-color: #27ae60;
					transition: 0.1s;
				}

/*footer*/
.footer {
	width: 1200px;
	height: auto;
	margin:  0 auto 30px auto;
	display: flex;
		justify-content: center;
}
	.footer p {
		display: inline-block;
		font-size: 14px;
		line-height: 100%;
		font-weight: 600;
		color: #fff;
		background-color: #000;
		padding: 10px 15px;
		border-radius: 3px;
	}